
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #96a3a8;
}

header{
    color: white;
    min-height: 85px;
    background-color: #13293d;
    text-align: center;
    padding-top: 20px;
}



main{
   background-color: white;
   padding: 20px;
   min-width: 280px;
   max-width: 800px;
   margin: auto;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.477);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

main h1{
    padding-bottom: 10px;
}

main p{
    line-height: 1.2em;
    text-indent: 20px;
    text-align: justify;
    padding-bottom: 10px;
}

img{
    text-align: center;
}

.links{
    text-decoration: none;
}
.links:hover{
color: rgb(0, 0, 136);
text-decoration: none;
text-decoration: underline;
}

/* #foto-de-perfil{
    width: 200px;
} */